[submodule "src/thirdparty/sentry"]
	path = src/thirdparty/sentry
	url = https://github.com/getsentry/sentry-native.git
[submodule "src/thirdparty/Crow"]
	path = src/thirdparty/Crow
	url = https://github.com/CrowCpp/Crow.git
