// load the base configuration
exec default.cfg

// Setup custom controller
exec joystick.cfg

// run a script for any mods
exec startup_manifest.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds

// display the startup level
startupmenu

sv_unlockedchapters 99
